<div
  class="todo-item d-flex justify-content-between align-items-center"
  (mouseover)="isHovered = true"
  (mouseout)="isHovered = false"
>
  <div class="todo">
    <input
      type="checkbox"
      [id]="todo.id"
      class="toggle text-center"
      [ngClass]="{ checked: todo.isCompleted }"
      [checked]="todo.isCompleted"
      (change)="changeTodoStatus()"
    />
    <label [for]="todo.id">{{ todo.content }}</label>
  </div>
  <div class="d-flex align-items-center">
    <span
      class="icon-wrapper text-center edit"
      [ngClass]="{ active: isHovered }"
      [hidden]="todo.isCompleted"
    >
      <i class="eva eva-edit-outline" (click)="isEditing = true"></i>
    </span>
    <span class="icon-wrapper text-center" [ngClass]="{ active: isHovered }">
      <i class="eva eva-close" (click)='deleteTodo()'></i>
    </span>
  </div>
  <form class="edit-form" *ngIf="isEditing" (keyup)="submitEdit($event)">
    <input name='edit-form' type="text" class="edit-todo" [(ngModel)]="todo.content" autofocus />
  </form>
</div>
